<%- include ('./partials/doctype') %>

    <%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/styles-administrador.css">

        <body>
            <%- include ('./partials/header') %>

                <main class="admin">
                    <h2>Administrar productos</h4>
                        <article class="agregar-producto">
                            <a href="/administrador/addProduct"><i class="fas fa-plus-circle"></i>Agregar</a>
                        </article>
                        <article class="table-1">
                            <table class="table-2">
                                <thead>
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Nombre</th>
                                        <th scope="col">Ver</th>
                                        <th scope="col">Editar</th>
                                        <th scope="col">Borrar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% productos.forEach(items => { %>
                                     <tr class="primer-item">
                                        <td><%= items.id %> </td>
                                        <td><%= items.Name %> </td>
                                        <td><a href="/producto/cabello" class="icon-eye"><i class="far fa-eye"></i></a></td>
                                        <td><a href="/administrador/editProduct/<%= items.id %>" class="icon-pencil"><i
                                                    class="fas fa-pencil-alt"></i></a></td>
                                        <td><form action="/administrador/delete/<%= items.id %>?_method=DELETE" method="POST">
                                            <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                        </form></td>
                                    </tr>
                                    <% }) %>
                                    
                                    <!-- <tr class="segundo-item">
                                        <td>2</td>
                                        <td>Crema Cetafhil</td>
                                        <td><a href="/producto/piel" class="icon-eye"><i class="far fa-eye"></i></a></td>
                                        <td><a href="/editProduct" class="icon-pencil"><i
                                                    class="fas fa-pencil-alt"></i></a></td>
                                        <td><form action="/administrador/delete?_method=DELETE" method="POST">
                                            <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                        </form></td>
                                    </tr>
                                    <tr class="tercer-item">
                                        <td>3</td>
                                        <td>Aceite de Ricino Negro</td>
                                        <td><a href="/producto/cabello" class="icon-eye"><i class="far fa-eye"></i></a></td>
                                        <td><a href="/editProduct" class="icon-pencil"><i
                                                    class="fas fa-pencil-alt"></i></a></td>
                                        <td><form action="/administrador/delete?_method=DELETE" method="POST">
                                            <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                        </form></td>
                                    </tr>
                                    <tr class="cuarto-item">
                                        <td>4</td>
                                        <td>Crema Blanqueadora Pgitiel de Arminio</td>
                                        <td><a href="/producto/piel" class="icon-eye"><i class="far fa-eye"></i></a></td>
                                        <td><a href="/editProduct" class="icon-pencil"><i
                                                    class="fas fa-pencil-alt"></i></a></td>
                                        <td><form action="/administrador/delete?_method=DELETE" method="POST">
                                            <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                        </form></td>
                                    </tr>
                                    <tr class="quinto-item">
                                        <td>5</td>
                                        <td>Set de Maquillaje</td>
                                        <td><a href="/producto/maquillaje" class="icon-eye"><i class="far fa-eye"></i></a></td>
                                        <td><a href="/editProduct" class="icon-pencil"><i
                                                    class="fas fa-pencil-alt"></i></a></td>
                                        <td>
                                            <form action="/administrador/delete?_method=DELETE" method="POST">
                                                <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                            </form>                                             -->
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </article>
                </main>

                <%- include ('./partials/footer') %>
        </body>

        </html>