<%- include ('./partials/doctype') %>

    <%- include ('./partials/head') %>
        <link rel="stylesheet" href="/css/stylesDetailUser.css">

        <body class="body">
            <%- include ('./partials/header') %>
                <main class="body">

                    <h3>PERFIL</h3>
                    <form action="/user/<%=user.id%>" method="get">
                    <div class = "box">
                        <div class="producto">
                            <img class="imagen" src="/images/users/<%=user.avatar%>" alt="<%=user.avatar%>">
                        </div>
                        <div class="register">
                            <% if(locals.user){%>
                            <label>Nombre: <input type="text" name="nombreUsuario" min="3" value="<%=user.first_name%>"></label>
                            <label>Apellido:<input type="text" name="apellidoUsuario" min="3" value="<%=user.last_name%>"></label>
                            <label>Correo Electrónico: <input type="email" name="emailUsuario" value="<%=user.email%>"></label>                            
                        </div>
                        <%}%> 
                        <div><a href="#" class="icon-pencil"><i class="fas fa-pencil-alt"></i></a></div>
                    </div>
                                           
                    </form>
                    
                </main>
                <%- include ('./partials/footer') %>

        </body>

        </html>