<%- include ('./partials/doctype') %>

    <%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/stylesdetail.css">

        <body class="body">
            <%- include ('./partials/header') %>

                <main>
                    <section>
                        <h3 class="cabello">DETALLE DEL PRODUCTO</h3>
                        <div class="producto">
                            <article class="articulo">
                                <img class="imagen"
                                    src="/images/products/<%=idDetailProduct.image%>"
                                    width="300px" height="250px" alt="<%=idDetailProduct.name%>">
                                <div class="d-producto">
									<% if(locals.idDetailProduct){%>
									<h3 class="titulo"><%=idDetailProduct.name%></h3>
                                    <p class="datos">Precio: <%=idDetailProduct.price%></p>
                                    <p class="datos">Referencia: <%=idDetailProduct.reference%></p>
                                    <p class="datos">Cantidad: 1 <a class="datos" href="#"></a> <i
                                            class="fas fa-plus"></i></a></p>
                                    <p class="datos">Añadir carrito <a class="datos" href="/carrito"><i
                                                class="fas fa-cart-arrow-down"></i> </a></i></p>
                                </div>
                                <div class="d2-producto">
                                    <h2>Descripción:</h2>
                                    <p class="descripcion"><%=idDetailProduct.description%></p>
								</div>
									<%}%>									
                                    
                               
                            </article>                         
                        </div>

                    </section>
                </main>
                <%- include ('./partials/footer') %>

        </body>

        </html>