<%- include ('./partials/doctype') %>

    <%- include ('./partials/head') %>
        <link rel="stylesheet" href="/css/stylesRegister.css">

        <body class="body">
            <%- include ('./partials/header') %>
                <main class="body" id="mainEditUser">
                    <h3> EDITAR PERFIL</h3>
                    <p class="aviso">Importante: Todo campo actualizado en su perfil ser치 reflejado cuando inicie sesi칩n 
                        la pr칩xima vez. 
                    </p>
                    <form action="/user/<%=user.name%>/edit/<%=user.id%>?_method=PUT" method="POST" class="register" id="editUserForm" enctype="multipart/form-data"><b>
                            <div class="forma">
                                <label>Nombre</label>
                                <input type="text" name="nombreUsuario" min="2" value="<%= user.name%>">                                
                            </div>
                            <div class="forma">
                                <label>Apellido</label>
                                <input type="text" name="apellidoUsuario" min="2" value="<%= user.lastname%>">                                
                            </div>
                            <div class="forma">
                                <label>Correo Electr칩nico</label>
                                <input type="text" name="emailUsuario" value="<%= user.email%>">                                
                            </div>
                            <div class="forma">
                                <label>Foto de perfil</label>
                                <input type="file" name="avatar" placeholder="Debes eligir tu avatar...">
                            </div>
                            <button class="botonRegistrarse" type="submit"><b>Editar</b></button>
                            </b>
                    </form>
                </main>
                <%- include ('./partials/footer') %>
        </body>
</html>