<%- include ('./partials/doctype') %>

    <%- include ('./partials/head') %>
        <link rel="stylesheet" href="/css/stylesRegister.css">

        <body class="body">
            <%- include ('./partials/header') %>
                <main class="body">
                    <h3> EDITAR PERFIL</h3>

                    <form action="/user/<%=user.name%>/edit/<%=user.id%>?_method=PUT" method="POST" class="register" enctype="multipart/form-data"><b>
                            <div class="forma">
                                <label>Nombre</label>
                                <input type="text" name="nombreUsuario" min="3" value="<%=user.name%>">

                            </div>
                            <div class="forma">
                                <label>Apellido</label>
                                <input type="text" name="apellidoUsuario" min="3" value="<%=user.lastname%>">

                            </div>
                            <div class="forma">
                                <label>Correo Electrónico</label>
                                <input type="email" name="emailUsuario" value="<%=user.email%>">

                            </div>
                            <div class="forma">
                                <label>Contraseña</label>
                                <input type="password" name="contraseñaUsuario" min="8" placeholder="Coloca tu contraseña o cambiala" required>

                            </div>
                            <div class="forma">
                                <label>Confirmación de Contraseña</label>
                                <input type="password" name="confirmacionContraseñaUsuario" min="8" placeholder="Coloca tu contraseña o cambiala" required>

                            </div>
                            <div class="forma">
                                <input type="file" name="avatar" placeholder="Debes eligir tu avatar..." value="<%=user.avatar%>">

                            </div>

                            <button class="botonRegistrarse" type="submit"><b>Editar</b></button>

                        </b>
                    </form>

                </main>
                <%- include ('./partials/footer') %>

        </body>

        </html>