<%- include ('./partials/doctype') %>

    <%- include ('./partials/head') %>
    <link rel="stylesheet" href="/css/stylesEditProduct.css">

        <body class="body">
            <%- include ('./partials/header') %>
                <main class="body">
                    <h3> EDITAR PRODUCTO</h3>
                    <form action="/administrador/editProduct/<%= product.id %>?_method=PUT
                        " method="POST" class="register" enctype="multipart/form-data"><b>
                            <div class="forma">
                                <label>Nombre del Producto</label>
                                <input type="text" name="nombreProducto" value="<%= product.name %>" required>
                            </div>
                            <div class="forma">
                                <label>Precio</label>
                                <input type="number" name="precioProducto" value="<%= product.price %>" required>
                            </div>
                            <div class="forma">
                                <label>Referencia</label>
                                <input type="texto" name="referenciaProducto" value="<%= product.reference %>" required>
                            </div>
                            <div class="forma">
                                <label>Cantidad Disponible</label>
                                <input type="texto" name="cantidadProducto" value="<%= product.quantity %>" required>
                            </div>
                            <div class="forma">
                                <label>Descripción del Producto</label>
                                <input type="texto" name="descripcionProducto" value="<%= product.description %>" required>
                            </div>

                            <div class="forma">
                                <h4>Imagen del Producto</h4>
                                <input type="file" name="imagenProducto" accept=".jpg , .png">
                            </div>
                            <div>
                                <button class="botonEdit" type="submit"><b>Actualizar Cambios</b></button>
                        </b>
                    </form>

                </main>
                <%- include ('./partials/footer') %>
        </body>

        </html>