<%- include ('./partials/doctype') %>
<%- include ('./partials/head') %>
<link rel="stylesheet" href="/css/stylesHome.css">
    <body>
        <%- include ('./partials/header') %>
            <main>
                    <%- include('./partials/greetingsUser') %> 
                    <div class="box">                        
                            <input type="search" id="search" placeholder="Search..." />
                    </div>  

                    <!-- <video src="/public/video/banner.mp4" type="video/mp4" width="400px" height="280px" controls autoplay loop muted>
                    </video> -->
                    
                    <ul>
                        <li><img src="/Images/carrusel/mujerAfro1.jpg" alt=""></li>
                        <li><img src="/Images/carrusel/mujerAfro2.jpg" alt=""></li>
                        <li><img src="/Images/carrusel/mujerAfro3.jpg" alt=""></li>
                        <li><img src="/Images/carrusel/mujerAfro4.jpg" alt=""></li>
                        <li><img src="/Images/carrusel/mujerAfro1.jpg" alt=""></li>
                        <li><img src="/Images/carrusel/mujerAfro2.jpg" alt=""></li>
                        <li><img src="/Images/carrusel/mujerAfro3.jpg" alt=""></li>
                        <li><img src="/Images/carrusel/mujerAfro4.jpg" alt=""></li>
                        <li><img src="/Images/carrusel/mujerAfro1.jpg" alt=""></li>
                        <li><img src="/Images/carrusel/mujerAfro2.jpg" alt=""></li>
                    </ul>
            </main>
            <%- include ('./partials/footer') %>
    </body>
</html>