<%- include ('./partials/doctype') %>
    <%- include ('./partials/head') %>
        <link rel="stylesheet" href="/css/stylesHome.css">

        <body>
            <%- include ('./partials/header') %>
                <main>
                        <div class="box">
                            <form action="/search" method="post">
                                <input type="search" name="search" id="search" placeholder="Search..." />
                            </form>                            
                            <%- include('./partials/greetingsUser') %>
                        </div>

                        <img src="/video/afro.gif">

                        <h2>¿QUIENES SOMOS?</h2>
                        <div class="somos">
                            <div>
                                <img class="imagen" src="/images/Afro.jpg" width="300px" height="250px" alt="Skala">
                            </div>
                            <div>
                                <p>Karons Afro es una empresa dedicada a la distribución de productos
                                    de belleza Afro.
                                </p>
                                <p> Creemos en el potencial de las relaciones y en el poder de la
                                    cosmética como ampliadora de conciencia, por esta razón, nuestra finalidad es
                                    exaltar la estética Afrocolombiana.
                                </p>
                            </div>
                        </div>

                        <div class="carousel">
                            <div>
                                <h2>PRODUCTOS DESTACADOS</h2>
                                <div class="sliderDestacados"></div>
                            </div>
                            <div>
                                <h2>MARCAS</h2>
                                <div class="sliderMarcas"></div>
                            </div>
                            <div>
                                <h2>CATEGORIAS</h2>
                                <div class="sliderCategorias"></div>
                            </div>
                        </div>
                </main>
                <%- include ('./partials/footer') %>

        </body>

        </html>