<%- include ('./partials/doctype') %>

    <%- include ('./partials/head') %>
        <link rel="stylesheet" href="/css/stylesLogin.css">

        <body class="body">
            <%- include ('./partials/header') %>
                <main class="body">
                    <h3> Bienvenido(a)
                        Inicia Sesion
                    </h3>
                    <form action="/login" method="POST" class="login"><b>
                            <div>
                                <label for="email" class="forma">Email</label>
                                <input type="text" id="email" name="email"
                                    class="<%= locals.errors && errors.email ? 'is-invalid' : null %>">
                                <% if (locals.errors && errors.email) { %>
                                    <div class="text-danger" style="font-size: 15px;">
                                        <%= errors.email.msg %>
                                    </div>
                                    <% } %>
                            </div>
                            <div>
                                <label for="password" class="forma">Password</label>
                                <input type="password" id="password" name="password"
                                    class="<%= locals.errors && errors.password ? 'is-invalid' : null %>">
                                <% if (locals.errors && errors.password) { %>
                                    <div class="text-danger" style="font-size: 15px;">
                                        <%= errors.password.msg %>
                                    </div>
                                    <% } else if(typeof errors !='undefined' ){ %>
                                        <div class="text-danger" style="font-size: 15px;">
                                            <%= errors.msg %>
                                        </div>
                                        <% } %>
                            </div>
                            <button class="boton" type="submit"><b class="boton">Ingresar</b></button>
                            <div class="contraseña">
                                <a class="contraseña" href="#">Olvidaste tu contraseña?</a>
                            </div>
                        </b>
                    </form>
                    <div>
                        <button class="boton2"><a href="/register" class="boton"><b>Crear
                                    Cuenta</b></a></button>
                    </div>
                </main>
                <%- include ('./partials/footer') %>
        </body>

        </html>